
.awards {
	background: white;
	color: black;
	font-family: 'Arima Madurai', cursive;
	font-size: 25px; }

.awards table {
	width: 70%;
	margin: 0 auto;
	padding: 80px 50px 100px 50px; }

.awards .aw {	
	font-size: 30px;     
	display: inline-block;
    padding: 0 25px;
    margin-bottom: 50px;
	position: relative; }

.awards .aw:before, .awards .aw:after {
	background: black;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	margin: 0 auto;
	top: 50%;
	width: 70%; }

.awards .aw:before { right: 100%; }

.awards .aw:after { left: 100%; }

.awards td { padding: 30px;	}